/* Padronização
-----------------------------*/
.bg-blue-gradient {
  background: linear-gradient(
      270deg,
      #1cacc6 33.33%,
      rgba(51, 149, 239, 0.545455) 53.13%,
      rgba(68, 121, 203, 0.301741) 67.19%,
      rgba(255, 255, 255, 0) 82.81%
    ),
    #296dd5;
}
.bg-blue-dark {
  background-color: #296dd5 !important;
}
.bg-blue {
  background-color: #19b8d4 !important;
}
.bg-blue-dark2 {
  background-color: #3c5899 !important;
}
.bg-blue2 {
  background-color: #4384fc !important;
}
.bg-gray {
  background-color: #e0e0e0;
}

.text-white {
  color: #ffffff;
}
.text-gray {
  color: #595959;
}
.text-blue {
  color: #4384fc;
}

.title {
  font-family: "Work Sans", sans-serif;
}
.title-size {
  font-size: 40px !important;
}
.text {
  font-size: 18px;
}

.w-85 {
  width: 85%;
}

.radius {
  border-radius: 100px;
}

.botao-green {
  background-color: #16c772;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.botao-green:hover {
  background-color: #14b367;
}
.btn-big {
  width: 120px;
  border-radius: 20px;
}

/* Logotipo
-----------------------------*/
.logo {
  background-image: url("../images/logo.png");
  width: 75px;
  height: 75px;
  background-color: white;
  background-size: cover;
}

/* Slide
-----------------------------*/
#home {
  height: 410px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

#img-slide1 {
  width: 610px;
  height: 409px;
}

#img-slide2 {
  width: 604px;
  height: 413px;
}

/* Conteúdos
-----------------------------*/
#rectangle-on-top {
  width: 70px;
  height: 100px;
}

#home-sobre,
#home-sobre img {
  width: 512px;
  height: 316px;
}

.chamada-contatos {
  font-size: 50px;
}

/* Rodapé
-----------------------------*/
.redes-sociais {
  width: 55px;
  height: 55px;
  background-size: cover;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 25px;
}

#facebook {
  background-image: url("../images/facebook.png");
}
#twitter {
  background-image: url("../images/twitter.png");
}

#instagram {
  background-image: url("../images/instagram.png");
}

#android {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("../images/iconfinder_Android_robot_social_271510.png");
}

.rodape-link {
  cursor: pointer;
}
